<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr />

    <p>Main tasks finished, thank you!
    Responding to these items is <b>voluntary</b>. You may simply hit the "Continue" button below to complete the HIT.
    As a reminder, we will not report any of the information obtained in this study in any personally identifying manner (demographic information will only be reported in aggregate statistics).</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Which task was the <b> most difficult?</b> 
                </div>
                <div class="col-md-4">
                    <select id="mostdiff" name="mostdiff">
                        <option value="A-X" SELECTED>A-X</option>
                        <option value="2-back">2-back</option>
                        <option value="3-back">3-back</option>
                        <option value="2-back reset">2-back reset</option>
                        <option value="3-back reset">3-back reset</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Which task was the <b> least difficult?</b> 
                </div>
                <div class="col-md-4">
                    <select id="leastdiff" name="leastdiff">
                        <option value="A-X" SELECTED>A-X</option>
                        <option value="2-back">2-back</option>
                        <option value="3-back">3-back</option>
                        <option value="2-back reset">2-back reset</option>
                        <option value="3-back reset">3-back reset</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most engaged), please rate how <b>ENGAGING</b> you found the learning task:
                </div>
                <div class="col-md-4">
                    <select id="engagement" name="engagement">
                        <option value="10">10 - Very engaging</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" SELECTED>5 - Moderately</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not engaged</option>
                    </select>
                </div>
            </div> -->
            <!-- end of a question -->


            <!-- beginning of a question -->
            <!-- <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most difficult), please rate how <b>DIFFICULT</b> you found the learning task:
                </div>
                <div class="col-md-4">
                    <select id="difficulty" name="difficulty">
                        <option value="10">10 - Very difficult</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" SELECTED>5 - Moderately difficult</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not difficult at all</option>
                    </select>
                </div>
            </div> -->
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What is your Age?
                </div>
                <div class="col-md-4">
                    <textarea id="age" name="age" cols="20" rows="1" maxlength="3" required style="padding-top:10px;"></textarea>
                </div>
            </div>

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What gender do you identify as?
                </div>
                <div class="col-md-4">
                    <textarea id="gender" name="gender" cols="20" rows="1" maxlength="20" required style="padding-top:10px;"></textarea>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What ethniticy do you identify as?
                </div>
                <div class="col-md-4">
                    <textarea id="ethniticy" name="ethniticy" cols="20" rows="1" maxlength="20" required style="padding-top:10px;"></textarea>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What is the highest level of education you have completed?
                </div>
                <div class="col-md-4">
                    <select id="education" name="education">
                        <option value="Pre-Secondary Education" SELECTED>Pre-Secondary Education</option>
                        <option value="High School (or GED)">High School Graduate (or GED)</option>
                        <option value="Associate's Degree">Associate's Degree</option>
                        <option value="Bachelor's Degree">Bachelor's Degree</option>
                        <option value="Master's Degree">Master's Degree</option>
                        <option value="Doctorate Degree" >Doctorate Degree</option>
                        <option value="Post-Doctorate Degree">Post-Doctorate Degree</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
