<div id="container-instructions">

	<h1>General Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p align="center">
            This HIT involves performing a number of short, similar tasks: you will  view a stream of letters, and respond to each one.
            Each task has a different TARGET sequence.
            If the current letter matches the TARGET sequence, you should press the TARGET Key.
            Otherwise, you should press the NON-TARGET key.
            These keys will not change:
        </p>
        <p align="center">
            <font color="red"> TARGET Key: "F"</font><br>
            <font color="red"> NON-TARGET Key: "J"</font>
        </p>
        <p align="center">
            Explicit instructions will be provided before each task.
            Whenever the task or TARGET changes, there will be a short "practice" phase.
            Please respond as QUICKLY and ACCURATELY as you can.
        </p>

        <p align="center">
            Generally, each task will look similar to this: <br><br>
            <img id="nbsstim" src="{{ server_location }}/static/images/nbs-stim.png" alt="Lab Logo" style='width: 70%; object-fit: contain' />
        </p>

        <p align="center">
            Please press the "Begin Experiment" button below to move on to the first task instructions.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!--  Maybe not previous button on this screen? -->
                <!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
                -->
            </div>
            <div class="col-xs-8">
                <center>
                    <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
                    Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
