<div id="container-instructions">

    <h1>Optional Break</h1>

    <hr />

    <div class="instructions well">

        <p>
            You may take a short break now (up to 3 minutes), if you would like. <br>
            Taking (or not taking) a break will not affect your payment in any way. <br> <br>
            The next sequence will be real trials.
            Please attempt to respond to each letter quickly and accurately. <br>
            A small TARGET reminder will be shown at the top of the window. <br>
        </p>

        <p>
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
            Please press the "Begin Sequence" button when you are ready to begin, and the task will start after a short delay. <br>
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin Sequence <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
