<div id="container-instructions">

	<h1>Task Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p align="center">
		    In the following task, you will see letters presented in the center of the screen, one after another.
	    </p>
	    
        <p align="center">
             It will look like this:
        </p>

        <p align="center">  </p>

	    <p align="center">
	    	<img id="nbsstim" src="{{ server_location }}/static/images/nbs-stim.png" alt="Lab Logo" style='width: 80%; object-fit: contain' />
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
