<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p align="center">
            After every letter that you see, you will need to make a decision by pressing either the "F" key or the "J" key.  <br>
            The following level is called <font color="red"> 3-back</font>. <br>
            Whenever the current letter is THE SAME as the one presented 3 letters back in the sequence, press the "J" key.  <br>
            In ALL OTHER CASES, press the "F" key. <br>
            Below is an illustration of this task: <br>
        </p>

        <p align="center">
            This illustrates the correct responses for an example sequence:
        </p>

        <p align="center">
            <img id="nbsstim" src="{{ server_location }}/static/images/nbs3back-jtarget.png" alt="Lab Logo" style='width: 70%; object-fit: contain' />
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
